@import 'fonts.css';

:root {
  --body: #fff;
  --text: #323232;
  --link: #7177F1;
  --footer-link: #7177F1;
  --title: #7177F1;
  --btn: #7177F1;
  --dots-active: #7177F1;
  --dots: #828282;
  --font-primary: 'Montserrat';
  --font-secondary: 'Trebuchet';
}

body {
  background: var(--body);
  font-family: var(--font-primary);
  color: var(--text);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.all-btn {
  background: var(--btn);
  box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
  border-radius: 8px;
  color: #fff !important;
  text-align: center;
  padding: 10px 0;
  display: block;
  transition: 500ms;
}

.all-btn:hover {
  background: #fff;
  color: var(--btn) !important;
}

.logo::before {
  content: url(../img/svg/logo-light.svg);
}

.title {
  font-size: 40px;
  font-weight: 600;
  color: var(--title);
  text-transform: capitalize;
}

@keyframes figure {
  0% {
    transform: rotate(0);
    left: 0;
  }

  100% {
    transform: rotate(360deg) scale(1.3);
    left: 90%;
  }
}

@keyframes figure_2 {
  0% {
    transform: rotate(0);
    left: 90%;
  }

  100% {
    transform: rotate(360deg) scale(1.3);
    left: 0%;
  }
}

@keyframes figure_3 {
  0% {
    right: 6%;
    transform: translateY(0);
  }

  50% {
    right: 50%;
    transform: translateY(500%);
    filter: hue-rotate(100deg);
  }

  100% {
    right: 90%;
    transform: translateY(0);
    filter: hue-rotate(0);
  }
}

@keyframes figure_4 {
  0% {
    right: 6%;
    transform: translateY(0);
  }

  50% {
    right: 50%;
    transform: translateY(-500%);
    filter: hue-rotate(360deg);
  }

  100% {
    right: 90%;
    transform: translateY(0);
    filter: hue-rotate(0);
  }
}

/* header start */

.header__nav {
  position: relative;
}

.header__nav {
  position: relative;
}

.header__nav::before {
  content: '';
  position: absolute;
  width: 3.5vw;
  height: 3.7vw;
  left: 243.95px;
  top: 32px;
  border: 0.3vw solid #790FF1;
  border-radius: 50%;
  z-index: -1;
  animation: figure 7s linear infinite alternate;
}

.header__nav::after {
  content: '';
  position: absolute;
  width: 4vw;
  height: 4vw;
  left: 73.66px;
  top: 92.64px;
  border: 0.3vw solid #9297EF;
  z-index: -1;
  animation: figure_2 7s linear infinite alternate;

}

.header__list {
  column-gap: 30px;
  row-gap: 15px;
}

.header__link {
  font-size: 24px;
  line-height: 16px;
  color: var(--link);
  transition: 500ms;
  text-transform: capitalize;
}

.header__link:hover {
  color: var(--text);
}

.header__link-btn {
  width: 190px;
}

.header__menu {
  width: 50px;
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 250ms;
  border: none;
  padding: 0;
}

.header__menu:focus {
  box-shadow: unset;
}

.header__menu.collapsed {
  background: var(--text);
}

.header__menu::before,
.header__menu::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text);
  transition: 500ms;
}

.header__menu::after {
  top: 10px;
}

.header__menu:not(.collapsed)::before {
  top: 0;
  transform: rotate(-45deg);
}

.header__menu:not(.collapsed)::after {
  top: 0;
  transform: rotate(45deg);
}

.header__content {
  padding: 42px 0 75px;
  position: relative;
}

.header__content::before {
  content: '';
  position: absolute;
  width: 5vw;
  height: 5vw;
  right: 6%;
  top: 180.26px;
  border: 0.3vw solid #9297EF;
  animation: figure_3 7s linear infinite alternate;

}

.header__content::after {
  content: '';
  position: absolute;
  width: 4vw;
  height: 4vw;
  right: 4%;
  top: 419.38px;
  border: 0.3vw solid #9297EF;
  animation: figure_4 7s linear infinite alternate;

}

.header__content-subtitle {
  font-family: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.header__content-title {
  line-height: 50px;
  margin-bottom: 25px;
}

.header__content-btn {
  max-width: 300px;
  width: 100%;
  margin: 0 auto 50px;
}

.header__tech-card:first-of-type .header__tech-brand {
  color: #E44F26;
}

.header__tech-card:nth-of-type(2) .header__tech-brand {
  color: #1572B6;
}

.header__tech-card:last-of-type .header__tech-brand {
  color: #790FF1;
}

.header__tech-name {
  text-transform: uppercase;
  color: var(--title);
  font-size: 20px;
  font-weight: 900;
}

.header__carousel-indicators {
  column-gap: 30px;
  position: static;
  margin: 50px 0 0;
}

.header__indicators-dots {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  border: none !important;
  background: var(--dots) !important;
  opacity: 1 !important;
}

.header__indicators-dots.active {
  background: var(--dots-active) !important;
}

.header_carousel-img {
  max-height: 500px;
}

/* header end */

/* about start */

.about {
  position: relative;
}

.about::before {
  content: url(../img/figure_1.svg);
  position: absolute;
  top: -70%;
  right: 0;
  z-index: -1;
}

.about__work {
  top: 90px;
  max-width: 190px;
  width: 100%;
  padding: 24px 0;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;

}

.about__ball {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  background: #0fdac2;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.about__desc {
  background: var(--body);
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 8px;
  padding: 30px;
  display: grid;
  row-gap: 20px;
}

.about__desc-txt {
  font-size: 18px;
  line-height: 27px;
  color: var(--text);
  text-transform: capitalize;
}

.about__desc-btn {
  max-width: 190px;
  width: 100%;
  text-transform: uppercase;
}

/* about end */

/* capabilities start */

.capabilities {
  padding: 80px 0;
}

.capabilities__title {
  margin-bottom: 30px;
}

.accordion {
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 8px;
  overflow: hidden;
}

.accordion__button {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  column-gap: 20px;
  padding: 15px 30px;
  transition: .5s;
  color: #fff;
  background: var(--title);
  position: relative;
  justify-content: center;
}

.accordion__button.collapsed {
  background: var(--body);
  color: var(--title);
}

.accordion__body {
  font-size: 18px;
  line-height: 27px;
  background: var(--title);
  padding: 30px;
  color: #fff;
}

.accordion__icon-down {
  font-size: 25px;
  transform: rotate(180deg);
  transition: .5s;
}

.accordion__button.collapsed .accordion__icon-down {
  transform: rotate(0);
}

.accordion__item:first-of-type .accordion__button.collapsed .accordion__brand {
  color: #E44F26;
}

.accordion__item:nth-of-type(2) .accordion__button.collapsed .accordion__brand {
  color: #1572B6;
}

.accordion__item:last-of-type .accordion__button.collapsed .accordion__brand {
  color: #790FF1;
}

.accordion__item:first-of-type .accordion__button.collapsed::after {
  content: '';
  position: absolute;
  width: 95%;
  height: 1px;
  background: #ddd;
  bottom: 0;
}

.accordion__item:nth-of-type(2) .accordion__button.collapsed::after {
  content: '';
  position: absolute;
  width: 95%;
  height: 1px;
  background: #ddd;
  bottom: 0;
}

/* capabilities end */

/* works start */
.works {
  position: relative;
  padding-bottom: 220px;
}

.works::before {
  content: url(../img/svg/figure_2.svg);
  position: absolute;
  top: -35%;
  z-index: -1;
}

.works::after {
  content: '';
  position: absolute;
  width: 5vw;
  height: 5vw;
  right: 6%;
  top: 50%;
  border: 0.3vw solid #7177F1;
  z-index: -1;
  animation: figure_2 7s linear infinite alternate;
}

.works__title {
  padding-bottom: 30px;
}

.works__tab-list {
  border-radius: 8px;
}

.works__tab-link {
  background: var(--body);
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  color: var(--title);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  transition: .5s;
  padding: 16.5px;
}

.works__tab-link:hover {}

.works__tab-link.active {
  background: var(--title);
  color: var(--body);
}

.list-group-item+.list-group-item.active {
  margin: 0;
  border: none;
}

.works__tab-desc {
  background: var(--body);
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 8px;
  padding: 20px;
}

.works__tab-image {
  min-height: 320px;
  height: 100%;
}

.works__tab-img {
  width: 100%;
  max-height: 320px;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  object-position: top;
}

.works__tab-title {
  font-size: 24px;
}

.works__tab-txt {
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: var(--text);
}

.works__tab-btn {
  max-width: 190px;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}

/* works end */

/* footer start */

.footer {
  padding-bottom: 130px;
}

.footer__link, .footer__contact {
  font-size: 24px;
  color: var(--footer-link);
}

.footer__link:hover, .footer__contact:hover {
  color: var(--footer-link);
  text-decoration: underline;
}

/* footer end */