@import 'fonts.css';

:root {
  --body: #fff;
  --text: #323232;
  --link: #7177F1;
  --title: #7177F1;
  --btn: #7177F1;
  --dots-active: #7177F1;
  --dots: #828282;
  --font-primary: 'Montserrat';
  --font-secondary: 'Trebuchet';
}

body {
  background: var(--body);
  font-family: var(--font-primary);
  color: var(--text);
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6, p {
  margin: 0;
}

.all-btn {
  background: var(--btn);
  box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
  border-radius: 8px;
  color: #fff !important;
  text-align: center;
  padding: 10px 0;
  display: block;
  transition: 500ms;
}

.all-btn:hover {
  background: #fff;
  color: var(--btn) !important;
}

.logo::before {
  content: url(../img/svg/logo-light.svg);
}

.title {
  font-size: 40px;
  font-weight: 600;
  color: var(--title);
  text-transform: capitalize;
}

/* header start */

.header__list {
  column-gap: 30px;
  row-gap: 15px;
}

.header__link {
  font-size: 24px;
  line-height: 16px;
  color: var(--link);
  transition: 500ms;
  text-transform: capitalize;
}

.header__link:hover {
  color: var(--text);
}

.header__link-btn {
  width: 190px;
}

.header__menu {
  width: 50px;
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 250ms;
  border: none;
  padding: 0;
}

.header__menu:focus {
  box-shadow: unset;
}

.header__menu.collapsed {
  background: var(--text);
}

.header__menu::before,
.header__menu::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text);
  transition: 500ms;
}

.header__menu::after {
  top: 10px;
}

.header__menu:not(.collapsed)::before {
  top: 0;
  transform: rotate(-45deg);
}

.header__menu:not(.collapsed)::after {
  top: 0;
  transform: rotate(45deg);
}

.header__content {
  padding: 42px 0 75px;
}

.header__content-subtitle {
  font-family: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.header__content-title {
  line-height: 50px;
  margin-bottom: 25px;
}

.header__content-btn{
  max-width: 300px;
  width: 100%;
  margin: 0 auto 50px;
}

.header__tech-card:first-of-type .header__tech-brand  {
  color: #E44F26;
}
.header__tech-card:nth-of-type(2) .header__tech-brand  {
  color: #1572B6;
}
.header__tech-card:last-of-type .header__tech-brand  {
  color: #790FF1;
}

.header__tech-name{
  text-transform: uppercase;
  color: var(--title);
  font-size: 20px;
  font-weight: 900;
}

.header__carousel-indicators {
  column-gap: 30px;
  position: static;
  margin: 50px 0 0;
}

.header__indicators-dots {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  border: none !important;
  background: var(--dots) !important;
  opacity: 1 !important;
}

.header__indicators-dots.active {
  background: var(--dots-active) !important;
}

.header_carousel-img {
  max-height: 500px;
}

/* header end */